*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    z-index: 2;
}
nav ul li{
    flex: 1;
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: #808080;
    font-size: 15px;
    transition: 0.5s;
}
.play{
    text-decoration: none;
    border: 0 solid #000;
    background: linear-gradient(to right, rgb(117, 218, 117),rgb(33, 230, 220));
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    transition: 1s ease;
}
nav ul li a:hover{
    color: #d3d3d3
}
.play:hover{
   background: rgb(34, 231, 221);
}
.show{
    display: none;
}

/*Responsive Navigation*/
@media(max-width: 768px){
    *{
        overflow-x: hidden;
    }
    .logo{
        width: 200px;
    }
    #navlinks{
        position: absolute;
        background: #fff;
        height: 250px;
        width: 80%;
        top: -280px;
        z-index: 2;
        margin-top: 30px;
        text-align: center;
        transition: 1s;
    }
    nav ul li{
        display: block;
        padding-top: 20px;
    }
    .play{
        display: none;
    }
    .hide{
        margin: 10px auto;
    }
    .show{
        display: block;
        width: 25px;
        cursor: pointer;
    }
}

.banner{
    width: 100%;
    min-height: 60vh;
    background-color: #fcf7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-img{
    background-image: url(images/bg-intro-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image2{
    width: 350px;
    height: 400px;
    margin-left: 120px
}
.banner-text{
    padding-left: 8%;
}
.banner-text h1{
    font-size: 35px;
    margin-bottom: 20px;
    opacity: 0.9;
}
.banner-text p{
    font-size: 14px;
    opacity: 0.6;
    margin-bottom: 30px;
}
.banner-text a{
    text-decoration: none;
    border: 0 solid #000;
    background: linear-gradient(to right, rgb(117, 218, 117),rgb(33, 230, 220));
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    transition: 1s;
}
.banner-text a:hover{
    background: rgb(33, 230, 220);
}

@media(max-width: 768px){
    .banner{
        flex-direction: column-reverse;
    }
    .banner-img{
        margin-left: -120px;
    }
    .banner-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-text h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .banner-text p{
        margin-bottom: 20px;
    }
    .banner-text a{
        margin-bottom: 20px;
    }
}

.choose{
    width: 100%;
    min-height: 50vh;
    background-color: #f5f4f4;
    box-sizing: border-box;
    padding: 6% 8%;
}
.choose h2{
    margin-bottom: 20px;
    font-size: 25px;
    opacity: 0.9;
}
.choose p{
    font-size: 15px;
    opacity: 0.6;
    margin-bottom: 50px;
}
.choose-box{
    display: flex;
}
.box{
    margin: auto;
}
.box img{
    width: 50px;
    margin-bottom: 20px;
}
.box h5{
    font-size: 18px;
    margin-bottom: 20px;
}
.box p{
    font-size: 14px;
}

@media(max-width: 768px){
    .choose{
        text-align: center;
    }
    .choose-box{
        flex-direction: column;
        text-align: center;
    }
}

.article{
    width: 100%;
    min-height: 50vh;
    background-color: #fcf7f7;
    box-sizing: border-box;
    padding: 6% 8%;
}
.article h4{
    font-size: 25px;
    opacity: 0.9;
    margin-bottom: 40px;
}
.article-box{
    display: flex;
}
.box1{
    flex-basis: 25%;
    margin-right: 20px;
    border: 0 solid #000;
    background: #fff;
}
.box1 img{
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
}
.padd{
    padding: 0 20px;
}
.smalll{
    margin-bottom: 20px;
    opacity: 0.7;
    font-size: 14px;
}
.padd h5{
    margin-bottom: 15px;
    font-size: 15px;
    opacity: 0.9;
    cursor: pointer;
    transition: 0.5s;
}
.padd h5:hover{
    color: rgb(33, 230, 220);
}
.big{
    font-size: 14px;
    opacity: 0.6;
    margin-bottom: 50px;
}

@media(max-width: 768px){
    .article-box{
        flex-direction: column;
        align-items: center;
    }
    .article h4{
        text-align: center;
    }
    .box1{
        margin: 30px auto;
    }
}

.foot{
    width: 100%;
    min-height: 30vh;
    background: #2c2c49;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 4% 8%;
}
.log{
    color: #fff;
    margin-bottom: 50px;
}
.fot, .foot2{
    list-style: none;
}
.fot a, .foot2 a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
    transition: 0.5s;
}
.fot a:hover, .foot2 a:hover{
    color: rgb(33, 230, 220);
}
.foott img{
    margin: 0 5px;
}
.foot3 p{
    color: #fff;
    margin-top: 50px;
    opacity: 0.6;
    font-size: 14px;
}
.foot3 a{
    text-decoration: none;
    border: 0 solid #000;
    background: linear-gradient(to right, rgb(117, 218, 117),rgb(33, 230, 220));
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    transition: 1s ease;
}
.foot3 a:hover{
    background: rgb(34, 231, 221);
}

@media(max-width: 768px){
    .foot{
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    .foott{
        margin-top: -20px;
        margin-bottom: 15px;
    }
    .foot2{
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .foot3 a{
        margin-left: 50px;
    }
}